.header{
    width: 100%;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    
}

        nav ul li{
            list-style: none;
            display: inline-block;
            padding: 10px 20px;
            margin: 10px;
            font-size: 18px;
            font-weight: 500;
            color: #3d1010;
            cursor: pointer;
            position: relative;
            z-index: 2;
            transition: color 0.5s;
        }

nav ul li:hover{
    color: #007bff;
}

body {
    ::-webkit-scrollbar {
        display: none;
    }  
    }


    .badge{
    text-align: end;
    }

    .chat-room {
    height: 110vh;
    
    #messages {
        height: 100%;
        overflow-y: scroll;
        padding-bottom: 200px;
        padding-top: 20px;
    }
    
    .navbar {
        border-bottom: 1px solid #eeeeee;
        margin-left: -15px;
        width: 100% ;
    }
    
    .message {
        min-height: 59px;
        .content-container {
        display: inline-block;
        .content {
            background-color: #eeeeee;
            padding: 8px 16px;
            border-radius: 20px;
        }
        .author {
            font-size: 0.8rem;
            color: #777777;
            margin-left: 10px;
        }
        }
        &.me {
        .content-container {
            float: right;
            .content {
            background-color: #007bff;
            color: white;
            }
        }
        }
    }
    .chat-box {
        position: absolute;
        bottom: 10px;
        width: 100%;
        
        background-color: rgb(254, 252, 252);
        border-top: 1px solid #eeeeee;
        input[type=text] {
            height: 45px;
            font-size: 18px;
        }
        .btn {
            height: 45px;
        }
        }
    }
    
    .card.no-outline {
        border: none;
    }
    
    .room-link {
        &:hover {
        text-decoration: none;
        }
        .room-card {
        transition: background-color 0.5s ease;
        border-radius: 20px;
        &:hover {
            background-color: #eeeeee;
        }
        &.active {
            background-color: black;
            .name {
            color: white;
            }
            .member-count {
            color: #e0e0e0;
            }
        }
        .name {
            font-weight: bold;
            color: black;
        }
        .member-count {
            color: #777777;
            font-weight: light;
        }
        }
    }
    
    .rooms-sidebar {
        border-right: 1px solid #eeeeee;
    }

    .card-add-form{
        padding: 8px;
    }

    .box{
        top:0;
        left:0;
            max-height: 500px;
            display: flex;
            border: 1px solid #ddd;
            overflow: auto;   
        }
        
        
        
        .slide-img{
            max-width: 200px;
            position: relative;
        }
        .slide-img img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            box-sizing: border-box;
        }
        .slide-img:hover img{
            -webkit-filter: brightness(50%);
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            -ms-transition: all 1s ease;
            transition: all 1s ease;
        }
        
        
        a{
            color: #241d1a !important;
            text-align: center;
            
        }

.masthead{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    
}
.masthead {
    min-height: 200px;
    position: relative;
}
.masthead img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.img-fluid{
    height: 100px;
    width: 1400px;
}

